/*
 * This file has been created by the Vaadin Theme Editor. Please note that
 * manual changes to individual CSS properties may be overwritten by the theme editor.
 */
* { font-family:"Poppins";
    font-size: small; }

:root {
    --custom-shadow:box-shadow: 2px 2px 6px 1px rgba(56, 56, 56, 0.098);
}

vaadin-vertical-layout { background-color:var(--backgroundColr); }

.side-bar-layout {
    padding-bottom: -100px;
}

.login-form {
    margin-top: 10vh;
    border-radius: 5px;
    border:1px solid rgb(231, 231, 231);
    padding: 1px;
    background-color: #fff;
    box-shadow: 2px 2px 6px 1px rgba(56, 56, 56, 0.098);
    box-sizing: border-box;
    gap: 10px;
    /* background-color: rgb(244, 244, 244); */
}

.login-layout {
    margin: auto;
    align-items:center;
    justify-content: center;
}